@font-face {
  font-family: 'CenturyGothic';
  src: url(../../../client/assets/fonts/Century_Gothic/Century_Gothic.ttf);
}

.timer-content {
  font-family: 'CenturyGothic';
  font-size: 25px;
  color: #707070;
}
