.header-heading h2 {
  color: #0a63af;
  font-weight: bolder;
  font-size: 45px;
  background-color: white;
  text-align: center;
  padding: 5px 0px 5px 0px;
  min-height: 56px;
}

.header-heading span {
  font-family: 'Avenir-Book', sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
