.header-heading h2 {
  color: #0a63af;
  font-weight: bolder;
  font-size: 20px; 
  background-color: white;
  text-align: center;
  padding: 5px 0px 5px 0px;
  min-height: 56px;
}
/*
.header-heading span {
  font-family: 'Inknut Antiqua';
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}
*/