/*@import 'theme.css';

* {
  font-family: 'Inknut Antiqua';
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inknut Antiqua';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e5e5e5;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
code {
  font-family:  'Inknut Antiqua';
}

.radiobuttons {
  padding: 10px;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
}
*/